1	whois.apnic.net
2	whois.ripe.net
3	whois.arin.net
4	whois.arin.net
5	whois.ripe.net
6	whois.arin.net
7	whois.arin.net
8	whois.arin.net
9	whois.arin.net
11	whois.arin.net
12	whois.arin.net
13	whois.arin.net
14	whois.apnic.net
15	whois.arin.net
16	whois.arin.net
17	whois.arin.net
18	whois.arin.net
19	whois.arin.net
20	whois.arin.net
21	whois.arin.net
22	whois.arin.net
23	whois.arin.net
24	whois.arin.net
25	whois.ripe.net
26	whois.arin.net
27	whois.apnic.net
28	whois.arin.net
29	whois.arin.net
30	whois.arin.net
31	whois.ripe.net
32	whois.arin.net
33	whois.arin.net
34	whois.arin.net
35	whois.arin.net
36	whois.apnic.net
37	whois.ripe.net
38	whois.arin.net
39	whois.apnic.net
40	whois.arin.net
41	whois.afrinic.net
42	whois.apnic.net
43	whois.apnic.net
44	whois.arin.net
45	whois.arin.net
46	whois.ripe.net
47	whois.arin.net
48	whois.arin.net
49	whois.apnic.net
50	whois.arin.net
51	whois.ripe.net
52	whois.arin.net
53	whois.ripe.net
54	whois.arin.net
55	whois.arin.net
56	whois.arin.net
57	whois.ripe.net
58	whois.apnic.net
59	whois.apnic.net
60	whois.apnic.net
61	whois.apnic.net
62	whois.ripe.net
63	whois.arin.net
64	whois.arin.net
65	whois.arin.net
66	whois.arin.net
67	whois.arin.net
68	whois.arin.net
69	whois.arin.net
70	whois.arin.net
71	whois.arin.net
72	whois.arin.net
73	whois.arin.net
74	whois.arin.net
75	whois.arin.net
76	whois.arin.net
77	whois.ripe.net
78	whois.ripe.net
79	whois.ripe.net
80	whois.ripe.net
81	whois.ripe.net
82	whois.ripe.net
83	whois.ripe.net
84	whois.ripe.net
85	whois.ripe.net
86	whois.ripe.net
87	whois.ripe.net
88	whois.ripe.net
89	whois.ripe.net
90	whois.ripe.net
91	whois.ripe.net
92	whois.ripe.net
93	whois.ripe.net
94	whois.ripe.net
95	whois.ripe.net
96	whois.arin.net
97	whois.arin.net
98	whois.arin.net
99	whois.arin.net
100	whois.arin.net
101	whois.apnic.net
102	whois.afrinic.net
103	whois.apnic.net
104	whois.arin.net
105	whois.afrinic.net
106	whois.apnic.net
107	whois.arin.net
108	whois.arin.net
109	whois.ripe.net
110	whois.apnic.net
111	whois.apnic.net
112	whois.apnic.net
113	whois.apnic.net
114	whois.apnic.net
115	whois.apnic.net
116	whois.apnic.net
117	whois.apnic.net
118	whois.apnic.net
119	whois.apnic.net
120	whois.apnic.net
121	whois.apnic.net
122	whois.apnic.net
123	whois.apnic.net
124	whois.apnic.net
125	whois.apnic.net
126	whois.apnic.net
128	whois.arin.net
129	whois.arin.net
130	whois.arin.net
131	whois.arin.net
132	whois.arin.net
133	whois.apnic.net
134	whois.arin.net
135	whois.arin.net
136	whois.arin.net
137	whois.arin.net
138	whois.arin.net
139	whois.arin.net
140	whois.arin.net
141	whois.ripe.net
142	whois.arin.net
143	whois.arin.net
144	whois.arin.net
145	whois.ripe.net
146	whois.arin.net
147	whois.arin.net
148	whois.arin.net
149	whois.arin.net
150	whois.apnic.net
151	whois.ripe.net
152	whois.arin.net
153	whois.apnic.net
154	whois.afrinic.net
155	whois.arin.net
156	whois.arin.net
157	whois.arin.net
158	whois.arin.net
159	whois.arin.net
160	whois.arin.net
161	whois.arin.net
162	whois.arin.net
163	whois.apnic.net
164	whois.arin.net
165	whois.arin.net
166	whois.arin.net
167	whois.arin.net
168	whois.arin.net
169	whois.arin.net
170	whois.arin.net
171	whois.apnic.net
172	whois.arin.net
173	whois.arin.net
174	whois.arin.net
175	whois.apnic.net
176	whois.ripe.net
177	whois.lacnic.net
178	whois.ripe.net
179	whois.lacnic.net
180	whois.apnic.net
181	whois.lacnic.net
182	whois.apnic.net
183	whois.apnic.net
184	whois.arin.net
185	whois.ripe.net
186	whois.lacnic.net
187	whois.lacnic.net
188	whois.ripe.net
189	whois.lacnic.net
190	whois.lacnic.net
191	whois.lacnic.net
192	whois.arin.net
193	whois.ripe.net
194	whois.ripe.net
195	whois.ripe.net
196	whois.afrinic.net
197	whois.afrinic.net
198	whois.arin.net
199	whois.arin.net
200	whois.lacnic.net
201	whois.lacnic.net
202	whois.apnic.net
203	whois.apnic.net
204	whois.arin.net
205	whois.arin.net
206	whois.arin.net
207	whois.arin.net
208	whois.arin.net
209	whois.arin.net
210	whois.apnic.net
211	whois.apnic.net
212	whois.ripe.net
213	whois.ripe.net
214	whois.arin.net
215	whois.arin.net
216	whois.arin.net
217	whois.ripe.net
218	whois.apnic.net
219	whois.apnic.net
220	whois.apnic.net
221	whois.apnic.net
222	whois.apnic.net
223	whois.apnic.net